.root{
    -fx-background-color: #1a1a1a;
    /*-fx-background-color: linear-gradient(#1a1a1a, #3d1524); !* Halved purple values *!*/
    /*-fx-background-color: radial-gradient(radius 100%, #1a1a1a, #3d1524);*/
}

.tictactoe-button {
    -fx-font-size: 24px;
    -fx-min-width: 80px;
    -fx-min-height: 80px;
    -fx-max-width: 80px;
    -fx-max-height: 80px;
    -fx-background-color: #7c2e2e;
    -fx-text-fill: #ecf0f1;
}

.tictactoe-button:hover {
    -fx-background-color: #b64d4d;
}

.tictactoe-button:pressed {
    -fx-background-color: #6b1414;
}

.exit-button:hover {
    -fx-background-color: #333333;
}

.exit-button:pressed {
    -fx-background-color: #1a1a1a;
}

.btn-won {
    -fx-font-size: 32px;
    -fx-background-color: #11e889;
}

.title-label {
    -fx-font-family: 'HoW tO dO SoMeThInG';
    -fx-font-size: 32px;
}